/.idea
/backend-server/.idea
/backend-server/venv
/backend-server/API Document.md
/front-server/venv
/front-server/.idea
/front-server/doc
/venv
/nginx-1.24.0
C:\Users\24289\Documents\CodingProjects\WeActiveServer\nginx-1.24.0
C:\Users\24289\Documents\CodingProjects\WeActiveServer\SQLiteStudio