<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>WeActive - 用户主页</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/public.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bottom_nav.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <div id="square">hello</div>

    <p id="footer"> Powered by：杭医信工CrushFxl </p>
    <div class="nav">
        <button id="squareTab" class="tab">
            <img src="../static/img/square.svg">
            <p class="ico_text">广场</p>
        </button>
        <div id="orderTab" class="tab">
            <img src="../static/img/order.svg">
            <p class="ico_text">订单</p>
        </div>
        <div id="uploadTab" class="tab">
            <div>＋</div>
        </div>
        <div id="moreTab" class="tab">
            <img src="../static/img/more.svg">
            <p class="ico_text">更多</p>
        </div>
        <div id="mineTab" class="tab">
            <img src="../static/img/mine.svg">
            <p class="ico_text">我的</p>
        </div>
    </div>
</body>
</html>