<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WeActive - Hey</title>
    <style>
        html, body, div, p{margin: 0;padding: 0;}
        body{display: flex;flex-direction: column;align-items: center;justify-content: center;height: 100vh;}
        .index_bg{background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);}
        .white{color: #FFFFFF;}
        .s14{font-size: 14px}
    </style>
</head>
<body class="index_bg">
    <h1 class="white">Stay hungry, stay foolish.</h1>
    <p class="s14 white"> Powered by：杭医信工CrushFxl</p>
    <a class="s14 white" style="margin-top:2px" href="https://beian.miit.gov.cn/">浙ICP备2023042075号</a>
</body>
</html>