<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>WeActive - 活动信息聚合平台</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/public.css">
    <style>
        .container{flex-direction: column;align-items: center;padding: 30px 20px;max-width: 400px}
        .logo_container{margin-bottom: 30px;justify-content: center;}
        #logo{width: 80px;height: 80px;filter:drop-shadow(0 0 2px #9f9f9f);margin-right: 15px;}
        .title{font-size: 40px;}
        .des{font-size: 17px;}
        span{color: red; font-size: 14px}.info{margin: 0 0 5px 0;}
    </style>
</head>
<body class="index_bg" style="justify-content: center;">
    <p id="URL" class="hide">{{URL}}</p>
    <div class="box container sd3">
        <div class="box logo_container">
            <img id="logo" src="../static/img/logo.png">
            <div style="flex-direction: column; align-items: center; justify-content: center">
                <p class="title grey3 bold">WeActive</p>
                <p class="des grey3 bold">大学生活动信息聚合平台</p>
            </div>
        </div>
        <form style="width: 90%">
            <div class="input_container">
                <p class="info">用户名</p>
                <input id="mob" class="input" type="text" name="phone" placeholder="输入手机号">
            </div>
            <div class="input_container">
                <p class="info">密码</p>
                <input id="pwd" class="input" type="text" name="pwd" placeholder="输入密码">
                <span id="pwd_tip" class='hide'>用户名或密码错误</span>
            </div>
            <div style="margin-bottom: 30px; justify-content: space-between;">
                <label class="grey3">
                    <input id="keep" type="checkbox" checked> 下次自动登录
                </label>
                <a class="grey3" href="#">忘记密码</a>
            </div>
            <input id="login_btn" type="button" class="btn1" style="margin-bottom: 15px" value="登 录">
        </form>
        <a href="/register/" style=" width:90%; text-decoration: none">
            <input id="register_btn" type="button" class="btn2" value="注 册">
        </a>
    </div>
    <p class="s14 white" style="margin-top: 12px"> Powered by：XX大学XXXX学院</p>
    <a class="s14 white" style="margin-top:2px" href="https://beian.miit.gov.cn/">浙ICP备XXXXXXXXXXX号</a>
</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    window.onload = function (){
    const URL = $("#URL").text()
    let $mob = $("#mob"), $pwd = $("#pwd"), $keep = $("#keep"), $pwd_tip = $("#pwd_tip")
    $(document).on("click", "#login_btn", function() {
        //数据校验
        let mob = $mob.val();
        let pwd = $pwd.val();
        const phoneNumRegExp = new RegExp("^1[356789]\\d{9}$");
        $pwd_tip.hide();
        if(!phoneNumRegExp.test(mob) || pwd.length>18 || pwd.length<8){
            $pwd_tip.show();
            return;
        }
        let isChecked = $keep.prop("checked");
        $.ajax({
            url: URL + "/auth/login",
            xhrFields: {withCredentials: true},
            data: {"mob": mob, "pwd": pwd, "keep": isChecked},
            type: "POST",
            dataType: "json",
            success: function (resp) {
                let code = resp["code"];
                if (code === 1000) {
                    window.location.replace("/home/");
                } else {
                    $pwd_tip.show(resp['message']);
                }
            }
        });
    })
}
</script>
</html>