<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>WeActive - 我的消息</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/public.css">
    <style>
        .conf_box{
            align-content: center;
            margin: 8px 10px;
            padding: 10px 20px;
            flex-direction: column;
        }
    </style>
</head>
<body style="background-color: #FAFAFA">
    <p id="URL" class="hide">{{URL}}</p>
    <div id="top_nav" class="box sd0" style="align-items: center">
        <div id="back">
            <svg width="17px" height="17px" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
            </svg>
        </div>
        <p class="s18 grey3">我的消息</p>
    </div>
    <div class="blank">(占位)</div>
    <div id="msg_box" style="width: 100%; justify-content: center; flex-direction: column"></div>
    <div class="blank" style="height: 60px">(占位)</div>
</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="../static/js/public.js"></script>
<script>
    function render_msg(message){
        for(let i in message){
            let m = message[i]
            console.log(m)
            $('#msg_box').append('<div class="conf_box box sd0">\n' +
                '            <p class="bold s17" style="color: rgb(99,90,210)">'+ m['title'] +'</p>\n' +
                '            <p class="s14 grey3" style="margin: 10px 0">'+ m['content'] +'</p>\n' +
                '            <div style="flex-direction: row-reverse"><p class="s13 grey2 bold">'+ m['date'] +'</p></div>\n' +
                '        </div>'
            );
        }
    }
    window.onload = function () {
        $.ajax({
            url: $('#URL').text() + "/query/msg_collect",
            xhrFields: {withCredentials: true},
            type: "POST",
            dataType: "json",
            success: function (resp) {
                if (resp["code"] === 1000) {
                    const msg = resp["message"]
                    render_msg(msg);
                }
            }
        });
    }
</script>
</html>