<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>WeActive - 活动报名托管平台</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/public.css">
    <style>
        .container{flex-direction: column;display:none;align-items: center;padding: 20px 30px 30px 30px;max-width: 400px;}
        #send_btn{height: 38px;margin-left: 10px;width: 40%;font-weight: normal;}
        span{color: red; font-size: 14px}
        h1{margin:10px 0 25px 0;}
        .info{margin: 0 0 5px 0;}
    </style>
</head>

<body class="index_bg" style="justify-content: center;">
    <p id="URL" class="hide">{{URL}}</p>
    <div id="form1" class="box container sd3">
        <h1 class="grey3">新用户注册</h1>
        <form style="width: 95%">
            <div class="input_container">
                <p class="info">注册手机号</p>
                <div>
                    <input id="mob" class="input" type="text" placeholder="输入手机号">
                    <input id="send_btn" type="button" class="btn1 sd1 s15" value="获取验证码">
                </div>
                <span id="mob_tip" class="hide">无效的手机号</span>
            </div>
            <div class="input_container">
                <p class="info">短信验证码</p>
                <input id="code" class="input" type="text" placeholder="输入六位数字">
                <span id="code_tip" class="hide">无效的验证码</span>
            </div>
            <div class="input_container">
                <p class="info">设置密码</p>
                <input id="pwd" class="input" type="text" placeholder="长度不少于8位">
                <span id="pwd_tip" class="hide">至少使用字母、数字、特殊字符两种类型的组合密码，长度在8-18位</span>
            </div>
        </form>
        <input type="button" class="btn1 next1 sd1" value="下一步" style="width: 95%; margin-top: 20px">
    </div>
    <div id="form2" class="box container sd3">
        <h1 class="grey3">完善用户信息</h1>
        <form style="width: 95%">
            <div class="input_container">
                <p class="info">用户昵称</p>
                <input id="nick" class="input" type="text" placeholder="起个有趣的名字吧">
                <span id="nick_tip" class="hide">昵称过长或过短（需在2-15字符间）</span>
            </div>
        </form>
        <input type="button" class="btn1 next2 sd1" value="下一步" style="width: 95%; margin-top: 20px">
    </div>
    <div id="form3" class="box container sd3">
        <h1 class="grey3">注册完成</h1>
        <p class="s16" style="margin-bottom: 30px;">感谢！我们已<span class="grey3 bold s16">免费赠送您1.00￥</span>体验余额</p>
        <input type="button" class="btn1 next3" value="马上体验">
    </div>
    <p class="s14 white" style="margin-top: 12px"> Powered by：杭医信工Crushxl</p>
    <a class="s14 white" style="margin-top:2px" href="https://beian.miit.gov.cn/">浙ICP备2023042075号</a>
</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="../static/js/register.js"></script>
</html>