<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>WeActive - 报名详情</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/public.css">
    <link rel="stylesheet" type="text/css" href="../static/css/order.css">
</head>
<body style="background-color: #FAFAFA">
    <p id="URL" class="hide">{{URL}}</p>
    <div id="top_nav" class="box" style="align-items: center">
        <div id="back">
            <svg width="17px" height="17px" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
            </svg>
        </div>
        <p class="s18  grey2">报名详情</p>
    </div>
    <div class="blank">(占位)</div>
    <div class="box dt_banner" style="border-radius: 0; margin-top: -6px">
        <div class="dt_title">
            <h1 id="title" class="white" style="margin: 0 10px 2px 10px; font-size: 28px"></h1>
            <p id="subtitle" class="s14 white" style="margin: 0 10px 20px 10px"></p>
        </div>
    </div>
    <div class="dt_box" style="padding-top: 10px">
        <div class="od_box box sd0">
            <p class="od_title">问卷星活动报名</p>
            <div class="dt_item">
                <p class="s16 grey3 dt_gap">活动名称</p>
                <p id="wjx_title" class="s16 grey2 hidet"></p>
            </div>
            <div class="dt_item">
                <p class="s16 grey3 dt_gap">报名时间</p>
                <p id="wjx_time" class="s16 grey2"></p>
            </div>
            <div class="od_line"></div>
            <div id="options" class="dt_item" style="flex-direction: column"></div>
            <div style="justify-content: end; margin-top: 10px">
                <p>合计：<span class="bold s18">
                </span><span class="bold s17 price"></span>分</p>
            </div>
        </div>
        <div class="od_box box sd0">
            <p class="od_title">报名设置</p>
            <div id="wjx_set" style="flex-direction: column"></div>
        </div>
        <div id="result" class="od_box box sd0" style="display: none">
            <p class="od_title">实际回答</p>
            <div id="wjx_result" style="flex-direction: column"></div>
            <p class="s14 grey3 mar">
                报名备注：<span id="remark" class="s14"></span>
            </p>
        </div>
        <div class="od_box box sd0">
            <div class="dt_item">
                <p class="s16 grey3 dt_gap">报名编号</p>
                <p id="oid" class="s16 grey2"></p>
            </div>
            <div class="dt_item">
                <p class="s16 grey3 dt_gap">创建时间</p>
                <p id="ctime" class="s16 grey2"></p>
            </div>
            <div class="dt_item">
                <p class="s16 grey3 dt_gap">报名时间</p>
                <p id="ptime" class="s16 grey2"></p>
            </div>
            <div class="dt_item">
                <p class="s16 grey3 dt_gap">完成时间</p>
                <p id="dtime" class="s16 grey2"></p>
            </div>
        </div>
        <p class="blank">(占位)</p>
        <div class="od_nav box sd1">
            <input id="refund_btn" class="btn" type="button" value="取消报名">
            <input id="commit_btn" class="btn" type="button" value="立即提交">
            <input id="feedback_btn" class="btn" type="button" value="评价活动">
        </div>
    </div>
</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="../static/js/public.js"></script>
<script src="../static/sdk/confetti.min.js"></script>
<script src="../static/js/order.js"></script>
<script>if(window.location.href.includes("show")){show_firework()}</script>
</html>