<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>WeActive - 确认订单</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/public.css">
    <link rel="stylesheet" type="text/css" href="../static/css/order.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js" defer></script>
    <script src="../static/js/public.js" defer></script>
    <script src="../static/js/order.js" defer></script>
    <script src="../static/js/order_pre.js" defer></script>
</head>
<body style="background-color: #FAFAFA">
    <p id="URL" class="hide">{{URL}}</p>
    <div id="orderBox" class="od_box box sd1">
        <p class="od_title">确认订单</p>
        <div class="od_line"></div>
        <div style="margin: 5px">
            <svg style="width: 90px; margin-right: 10px" width="75px" height="75px" fill="rgb(108,94,252)" viewBox="0 0 16 16">
                <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5M.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5M4 4h1v1H4z"></path>
                <path d="M7 2H2v5h5zM3 3h3v3H3zm2 8H4v1h1z"></path>
                <path d="M7 9H2v5h5zm-4 1h3v3H3zm8-6h1v1h-1z"></path>
                <path d="M9 2h5v5H9zm1 1v3h3V3zM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8zm2 2H9V9h1zm4 2h-1v1h-2v1h3zm-4 2v-1H8v1z"></path>
                <path d="M12 9h2V8h-2z"></path>
            </svg>
            <div style="flex-direction: column; width: 70%;">
                <p class="od_title" style="font-size: 18px; margin-bottom: 4px">问卷星活动代抢服务</p>
                <div style="align-items: center; align-content: center;">
                    <p class="od_sTitle s15" style="margin-right: 10px">活动名称</p>
                    <p id="wjx_title" class="s15 grey3 hidet"></p>
                </div>
                <div style="align-items: center; align-content: center;">
                    <p class="od_sTitle s15" style="margin-right: 10px">报名时间</p>
                    <p id="wjx_time" class="s15 grey3 hidet"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="setBox" class="od_box box sd1">
        <div id="setTitle">
            <p class="od_title">代填设置</p>
            <div style="justify-content: space-between;align-items: center; width: 100%">
                <p class="s14 grey2 pt" style="display: flex;align-items: flex-end;margin-top: 4px">
                可在"我的"-"配置修改"中更改</p>
                <svg class="pt" width="16" height="16" fill="rgb(99,90,210)" viewBox="0 0 16 16" style="margin-top: 2px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0
                        .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                    </svg>
            </div>
        </div>
        <div id="setFolder" style="flex-direction: column;">
            <div class="od_line"></div>
            <div class="od_ex">
                <p class="od_title" style="font-size: 18px; margin-bottom: 2px">填空题</p>
                <p id="blank" class="od_li"></p>
                <p class="s14 grey3 mar" style="margin: 5px">*若无匹配项，默认填写<span class="label pink_bg s13">啥玩意</span></p>
                <p>
            </div>
            <div class="od_ex">
                <p class="od_title" style="font-size: 18px; margin-bottom: 2px">单选题</p>
                <p id="single" class="od_li"></p>
                <p class="s14 grey3 mar" style="margin: 5px">*若无匹配项，默认<span class="label pink_bg s13">[随机选择]</span></p>
            </div>
            <div class="od_ex">
                <p class="od_title" style="font-size: 18px; margin-bottom: 2px">多选题</p>
                <p id="multi" class="od_li"></p>
                <p class="s14 grey3 mar" style="margin: 5px">*若无匹配项，默认<span class="label pink_bg s13">[随机选择1个]</span></p>
            </div>
        </div>
    </div>
    <div id="ssetBox" class="od_box box sd1">
        <div id="ssetTitle">
            <p class="od_title">高级设置</p>
            <div style="justify-content: space-between;align-items: center; width: 100%">
                <p class="s14 grey2 pt" style="display: flex;align-items: flex-end;margin-top: 4px">
                即将接入更多高级功能...</p>
                <svg class="pt" width="16" height="16" fill="rgb(99,90,210)" viewBox="0 0 16 16" style="margin-top: 2px">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0
                        .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
            </div>
        </div>
        <div id="ssetFolder" style="flex-direction: column;display: none">
            <div class="od_line"></div>
        </div>
    </div>
    <p class="blank">(占位)</p>
    <div class="od_nav box sd1">
        <div class="od_price">
            <p class="s15 bold grey3" style="margin: 2px 5px 0 0">小计: </p>
            <span class="s15 bold" style="margin-top: 5px;color:rgb(99,90,210);">￥</span>
            <span id="wjx_price" class="bold" style="color:rgb(99,90,210);font-size: 23px;"></span>
        </div>
        <input id="commit_btn" type="button" class="btn1" value="立即付款">
    </div>
</body>
</html>