#btm_nav {
    z-index: 10;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    border-radius: 0;
}

.btm_tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.btm_tab:hover, .top_tab{
    cursor: pointer;
}

.ico{
    display: flex;
    flex-direction: column;
    height: 22px;
    width: 22px;
}

.ico_text{
    margin: 2px 0 0 0;
    padding: 0;
    font-size: 11px;
    color: #3f3f3f;
}

#uploadTab{
    background-color: rgb(108,94,252);
    height: 100%;
    width: 38px;
    border-radius: 14px;
    font-weight: bolder;
    font-size: 150%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

#top_nav{
    z-index: 10;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    position: fixed;
    top: 0;
    border-radius: 0;
}

.top_tab{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.dec{
    width: 100%;
    height: 5px;
    background-color: rgb(108,94,252);
    border-radius: 5px;
}

.top_p{
    color: #8F8F8F;
    margin-top: 15px;
}